<!--Login modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content clearfix">
            <div class="modal-body">
                <div class="#">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="" aria-hidden="true">×
                        </span>
                    </button>
                    <button type="Button" class="btn btn-primary facebook btn-block btn-large">
                        <i class="fa fa-facebook float-left"></i>Connect with Facebook
                    </button>
                    <button type="Button" class="btn btn-danger google btn-block btn-large">
                        <i class="fa fa-google-plus float-left"></i>Connect with Google
                    </button>
                    <div class="seperator text-center"><span class="seperator-text">Or</span></div>  
                    <form id="signinForm">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder=" Email" name="email" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder=" Password" name="password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember"> <span>Remember me</span>
                                </label>
                                <p><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#forgotPassModal">Forget Password?</a></p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block btn-large" data-name="signin-button">Log In</button>
                    </form>
                </div>
            </div>
        </div>                             
    </div>
</div>