nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    a.navbar-brand(href='#') Express Practise
    #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/')
                    | Home 
                span.sr-only (current)
            li.nav-item
                a.nav-link(href='#') ######
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='#' data-toggle="modal" data-target="#login-modal") Log In
            li.nav-item
                a.nav-link(href="#" data-toggle="modal" data-target="#register-modal") Register